.card {
  margin-top: 1em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#searchLocationBar {
  margin-bottom: 2em;
  font-size: 1.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.6);
  color: black !important;
}

.modal-content {
  padding: 2em;
}

.modal {
  top: 300px;
}

.jumbotron {
  background-image: url('../../html/img/sklep.jpg');
  background-position: center top;
  padding-top: 20em;
  padding-bottom: 20em;
}

.container-menu {
  text-align: center;
  color: black;
}

.card-text {
  margin: 0px;
}

.reserve-slot {
  margin-top: 1em;
}

.modal-content {
  text-align: center;
}